@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.container .back {
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  left: 0;
}
.container .back a {
  font-size: 22px;
  font-weight: bold;
  color: #FAFEEE;
}
.container .back a:hover {
  color: #5FBEE3;
}
.container .user {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
}
.container .user .btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container .user .btn-box .styles-btn {
  width: 80px;
  height: 80px;
  display: flex;
  background-color: #726b0c;
  justify-content: center;
  align-items: center;
}
.container .user .btn-box .styles-btn i {
  font-size: 50px;
  color: white;
}
.container .user .btn-box .wrapper {
  position: relative;
  top: 0;
  right: 0;
  transition: all 0.4s ease 0s;
}
.container .user .btn-box .wrapper.open {
  transform: translateX(-200px);
}
.container .user .btn-box .wrapper .user-wrapper {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 80px;
  top: 0;
  background-color: #FAFEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .user .btn-box .wrapper .user-wrapper p {
  font-size: 25px;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
}
.container .user .btn-box .wrapper .user-wrapper i {
  color: #7D3BD4;
  font-size: 50px;
  padding-top: 10px;
}
.container .user .btn-box .wrapper .user-wrapper .points {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7D3BD4;
  width: 100%;
}
.container .user .btn-box .wrapper .user-wrapper .points h2 {
  color: #FAFEEE;
}
.container .user .btn-box .wrapper .user-wrapper .points #points {
  width: 90%;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: #e9b3c5;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.container .user .btn-box .wrapper a {
  width: 100%;
  height: 100%;
  background-color: #5FBEE3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .user .btn-box .audio-wrapper {
  margin-left: 10px;
  background-color: #7D3BD4;
  position: fixed;
  right: 0px;
  top: 300px;
}

#home .main-container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#home .main-container .main-titles {
  position: relative;
  color: #FAFEEE;
}
#home .main-container .main-titles h1 {
  font-size: 80px;
}
#home .main-container .main-titles h3 {
  font-size: 50px;
  text-align: center;
  color: #000000;
  font-family: "Fredericka the Great", cursive;
}
#home .main-container .boton {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#home .main-container .boton .nickname {
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .main-container .boton .nickname label {
  padding: 10px;
  color: #5FBEE3;
}
#home .main-container .boton .nickname #nickname-ok {
  display: flex;
  align-items: center;
}
#home .main-container .boton .nickname #nickname-ok input {
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px;
  width: 200px;
  position: relative;
  font-size: 18px;
  margin-right: 15px;
}
#home .main-container .boton .nickname #nickname-ok i {
  font-size: 40px;
  position: absolute;
  right: 0;
  color: #e9b3c5;
}
#home .main-container .boton .nickname #nickname-ok i:hover {
  cursor: pointer;
  color: #5FBEE3;
}
#home .main-container .boton #play-btn {
  visibility: hidden;
}
#home .main-container .boton a {
  background-color: #D63D38;
  width: 200px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAFEEE;
}
#home .main-container .boton a:hover {
  transform: scale(1.1);
  translate: 3s;
}
#home .main-container:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  opacity: 0.4;
}

#gameplay {
  background-image: url("https://scx2.b-cdn.net/gfx/news/hires/2019/galaxy.jpg");
}
#gameplay .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#gameplay .main-container h1,
#gameplay .main-container h2,
#gameplay .main-container h3 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}
#gameplay .main-container .curtain {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("../img/telon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#gameplay .main-container .header {
  width: 100%;
  display: flex;
  justify-content: center;
}
#gameplay .main-container .header .title {
  padding: 10px;
}
#gameplay .main-container .guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#gameplay .main-container .guess-container .img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
}
#gameplay .main-container .guess-container .img-box img {
  position: absolute;
}
#gameplay .main-container .guess-container .img-box .frame {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
#gameplay .main-container .guess-container .img-box .photography {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
#gameplay .main-container .guess-container .answer {
  display: flex;
  align-items: center;
  position: relative;
}
#gameplay .main-container .guess-container .answer #input1 {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 5px solid black;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a47af;
}
#gameplay .main-container .guess-container .answer i {
  font-size: 50px;
  position: absolute;
  right: -60px;
}
#gameplay .main-container .guess-container .answer #answerWrong {
  color: #D63D38;
  visibility: hidden;
}
#gameplay .main-container .guess-container .answer #answerOk {
  color: #4abd3f;
  visibility: hidden;
}
#gameplay .main-container .btn-send {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  position: relative;
}
#gameplay .main-container .btn-send button {
  width: 200px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #3f61cf;
  border: none;
  font-family: "Rubik", sans-serif;
}
#gameplay .main-container .btn-send button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}
#gameplay .main-container .btn-send #go {
  font-size: 200px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  right: -100%;
  color: #a75c7b;
}
#gameplay .main-container .modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#gameplay .main-container .modal-container .modal {
  width: 40%;
  height: 50%;
  background-color: #5FBEE3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.8s;
  transform: translateY(0%);
  border-radius: 10px;
}
#gameplay .main-container .modal-container .modal-close .close {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #D63D38;
  color: white;
  line-height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#categories .container {
  background-color: #5FBEE3;
  width: 100%;
  height: 100vh;
  background-image: url("../img/background-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#categories .container header {
  width: 100%;
  display: flex;
  justify-content: center;
}
#categories .container header h2 {
  font-size: 50px;
}
#categories .container header .title {
  padding: 10px;
}
#categories .container .category-container {
  display: flex;
  justify-content: center;
}
#categories .container .category-container .grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
#categories .container .category-container .grid-container i {
  font-size: 80px;
  color: white;
}
#categories .container .category-container .grid-container a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
#categories .container .category-container .grid-container .hover:hover {
  background-color: #7D3BD4;
}
#categories .container .category-container .grid-container .hover:hover i {
  color: #e9b3c5;
}
#categories .container .category-container .grid-container .category {
  background-color: #D63D38;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: relative;
}
#categories .container .category-container .grid-container .category .fa-check {
  position: absolute;
  font-size: 50px;
  color: green;
  right: 0;
  bottom: 0;
  padding: 10px;
  visibility: hidden;
}

/*# sourceMappingURL=styles.css.map */
